@use 'dark_common';

@mixin styles {
  /*
    dark mode blue hue based on #336699 using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: dark;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent luminosity.
  */
  --bg-color-005: #060d13;
  --bg-color-010: #0d1a26;
  --bg-color-015: #132639;
  --bg-color-020: #19334d;
  --bg-color-025: #204060; // not used
  --bg-color-030: #264d73;
  --bg-color-050: #4080bf;
  
  /*
    Define the standard colors for text.
    The numbers indicate percent luminosity.
  */
  --text-color-100: #ffffff;
  --text-color-090: #d9e6f2; // not used
  --text-color-080: #b3cce6;
  --text-color-075: #9fbfdf;
  --text-color-050: #4080bf;

  /*
    Include all variables and styles common to dark mode.
  */
  @include dark_common.styles;
}
