@use 'light_common';

@mixin styles {
  /*
    light mode blue hue based on #336699 using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: light;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent luminosity.
  */
  --bg-color-095: #ecf2f9;
  --bg-color-090: #d9e6f2;
  --bg-color-085: #c6d9ec;
  --bg-color-080: #b3cce6;
  --bg-color-075: #9fbfdf; // not used
  --bg-color-070: #8cb3d9;
  --bg-color-050: #4080bf;

  /*
    Define the standard colors for text.
    The numbers indicate percent luminosity.
  */
  --text-color-000: #000000;
  --text-color-010: #0d1a26; // not used
  --text-color-020: #19334d;
  --text-color-025: #204060;
  --text-color-050: #4080bf;

  /*
    Include all variables and styles common to light mode.
  */
  @include light_common.styles;
}
