@use 'light_common';

@mixin styles {
  /*
    light mode green hue based on #669999 using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: light;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent luminosity.
  */
  --bg-color-095: #f0f5f5;
  --bg-color-090: #e0ebeb;
  --bg-color-085: #d1e0e0;
  --bg-color-080: #c2d6d6;
  --bg-color-075: #b3cccc; // not used
  --bg-color-070: #a3c2c2;
  --bg-color-050: #669999;

  /*
    Define the standard colors for text.
    The numbers indicate percent luminosity.
  */
  --text-color-000: #000000;
  --text-color-010: #141f1f; // not used
  --text-color-020: #293d3d;
  --text-color-025: #334d4d;
  --text-color-050: #669999;

  /*
    Include all variables and styles common to light mode.
  */
  @include light_common.styles;
}
