@use 'dark_common';

@mixin styles {
  /*
    dark mode purple hue based on #556b2f using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: dark;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent lightness.
  */
  --bg-color-005: #0e1208;
  --bg-color-010: #1c2310;
  --bg-color-015: #2a3517;
  --bg-color-020: #38471f;
  --bg-color-030: #556b2f;
  --bg-color-050: #8db14e;
  
  /*
    Define the standard colors for text.
    The numbers indicate percent lightness.
  */
  --text-color-100: #ffffff;
  --text-color-080: #d1e0b8;
  --text-color-075: #c6d8a6;
  --text-color-050: #8db14e;

  /*
    Include all variables and styles common to dark mode.
  */
  @include dark_common.styles;
}
