@use 'light_common';

@mixin styles {
  /*
    light mode blue hue based on #778899 using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: light;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent luminosity.
  */
  --bg-color-095: #f0f2f4;
  --bg-color-090: #e2e6e9;
  --bg-color-085: #d3d9de;
  --bg-color-080: #c5ccd3;
  --bg-color-075: #b6bfc8; // not used
  --bg-color-070: #a8b3bd;
  --bg-color-050: #6e8091;

  /*
    Define the standard colors for text.
    The numbers indicate percent luminosity.
  */
  --text-color-000: #000000;
  --text-color-010: #161a1d; // not used
  --text-color-020: #2c333a;
  --text-color-025: #374049;
  --text-color-050: #6e8091;

  /*
    Include all variables and styles common to light mode.
  */
  @include light_common.styles;
}
