@use 'dark_common';

@mixin styles {
  /*
    dark mode slategray hue based on #778899 using the color picker
    at https://www.w3schools.com/colors/colors_picker.asp
  */
  color-scheme: dark;

  /*
    Define the standard colors for backgrounds.
    The numbers indicate percent luminosity.
  */
  --bg-color-005: #0b0d0f;
  --bg-color-010: #161a1d;
  --bg-color-015: #21262c;
  --bg-color-020: #2c333a;
  --bg-color-025: #374049; // not used
  --bg-color-030: #424d57;
  --bg-color-050: #6e8091;
  
  /*
    Define the standard colors for text.
    The numbers indicate percent luminosity.
  */
  --text-color-100: #ffffff;
  --text-color-090: #e2e6e9; // not used
  --text-color-080: #c5ccd3;
  --text-color-075: #b6bfc8;
  --text-color-050: #6e8091;

  /*
    Include all variables and styles common to dark mode.
  */
  @include dark_common.styles;
}
